@model IEnumerable<FlowswitchApplication.Models.Technician>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("NavBarPartial")
<h2>Index</h2>

<div class="panel panel-primary">
    <div class="panel-heading">People</div>

    <div class="panel-body ">
        @Html.ActionLink("Add", "Create", "Technician", null, new {  id = "btnCreate", @class = "btn btn-small btn-primary pull-right" })
    </div>
    <table class="table table-bordered table-hover">
        <tr>

            <th>
                @Html.ActionLink("Last Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })
            </th>
            <th>
                @Html.ActionLink("First Name", "Index", new { sortOrder = ViewBag.LastNameSortParm })
            </th>
            <th>
                @Html.ActionLink("Userame", "Index", new { sortOrder = ViewBag.LastNameSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="width:20px">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Details", "Details", new { id = item.ID })</li>
                            <li>@Html.ActionLink("Edit", "Edit", new { id = item.ID })</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Delete", "Delete", new { id = item.ID })</li>
                        </ul>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>

            </tr>
        }

    </table>
