@model FlowswitchApplication.Models.CalibrationRecord


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Calibration Record Detail Modal</h4>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        
        <dl class="dl-horizontal">
            <dt>Flow Switch:     </dt>
            <dd>@Html.DisplayFor(model => model.Flowswitch.Name)</dd>
            <dt>Calibration Date:     </dt>
            <dd>@Html.DisplayFor(model => model.DateAdded)</dd>  
            <dt>Max Inches:     </dt>
            <dd>@Html.DisplayFor(model => model.MaxInches)</dd>
            <dt>Trip Inches:     </dt>
            <dd>@Html.DisplayFor(model => model.TripInches)</dd>
            <dt>Max Gallons:     </dt>
            <dd>@Html.DisplayFor(model => model.MaxGallons)</dd>
            <dt>Trip Gallons:     </dt>
            <dd>@Html.DisplayFor(model => model.TripGallons)</dd>                           
            <dt>FAMIS:     </dt>
            <dd>@Html.DisplayFor(model => model.ServiceRequest.FamisWorkOrder)</dd>
            <dt>Technician:     </dt>
            <dd>@Html.DisplayFor(model => model.Technician.LastName)</dd>
            <dt>Note:     </dt>
            <dd>@Html.DisplayFor(model => model.Note)</dd> 

        </dl>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-default btn-sm" })

      
        <!--
        <a href='@Url.Action("Delete", "CalibrationRecord", new { id = Model.ID})'  data-toggle="modal" data-target="#myModal2" style="outline:hidden; color:white" class="btn btn-danger btn-sm">
            Delete
        </a>
        -->
        
</div>

}


